<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CalculatorService_CalculatorService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://desktop-6kg465o:8001/CalculatorService.svc"
        binding="wsHttpBinding" bindingConfiguration="CalculatorService_CalculatorService"
        contract="CalculatorService.CalculatorService" name="CalculatorService_CalculatorService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-6KG465O" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>