<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServieBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="calculatorServieBehavior" name="Services.GeneralCalculatorService">
        <endpoint binding="basicHttpBinding" contract="Contracts.IGeneralCalculator"/>
        <endpoint binding="netTcpBinding" contract="Contracts.IGeneralCalculator"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002/generalcalculator" />
            <add baseAddress="net.tcp://localhost:8003/generalCalculator" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>